<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="../../../static/components/prinsipic/prinsipic.css">
</head>
<body>
<section class="firstSection">
    <div class="headerBox">
        <span class="shape"></span>
    </div>
    <h1 class="article">Printsipiallik - bu sizning har qanday hayotiy  vaziyatlarda o'z e'tiqodlaringizga qat'iy
        tarzda
        harakat qilish
        istagingiz bilan tavsiflanadigan  shaxsiy xususiyatdir.</h1>
    <p class="textAll">
        Aksariyat printsipial odamlar o'z majburiyatlarini bajarishda juda ehtiyotkorlik bilan va <br> mas'uliyat bilan
        yondashishadi. O'z ishlarini olib borishda ular mukammallikka erishishga <br> intilishadi, shuningdek, muammolar
        va
        qiyinchiliklarga dosh berishga moyildirlar. Bu <br> toifadagi odamlar intizom va qoidalarni hurmat qiladilar va
        ularga rioya qiladilar.</p>
    <img class="sight" src="../../../static/images/bounse.png" alt="">
    <img class="handler" src="../../../static/images/bounse.png" alt="">
    <img class="bounce" src="../../../static/images/bounse.png" alt="">
    <img class="bounce2" src="../../../static/images/bounse.png" alt="">
    <img class="shape2" src="../../../static/images/shape.png" alt="">
</section>
<section class="cardSection">
    <h1 class="articleText">PRINTSIPIALLIKNING  AFZALLIKLARI</h1>
    <p class="textAbout">Endi sizda savol tug’ilishi mumkin "Prinsipiallik yaxshimiyoki yomonmi?"  Shubhasiz, bu
        yerda
        aniq javob bo'lishi
        mumkin emas. Prinstsipiallikning ham o’zigayarasha afzallik va kamchiliklari bor. Masalan:</p>
    <div class="cards__section__cardsBox">
        <div class="cards__section__cardsBox__cards">
            <span class="cards__section__cardsBox__cards__line"></span>
            <p class="cards__section__cardsBox__cards__text">
                Printsipial insonning o'z fikri bor. Agar siz printsipial inson bo’lsangiz har qandaymasalada doimo
                qat'iy pozitsiyaga ega bo'lasiz,  butunumringiz davomida unga amal qilasiz;
            </p>
            <span class="cards__section__cardsBox__cards__lines"></span>
        </div>
        <div class="cards__section__cardsBox__cards">
            <span class="cards__section__cardsBox__cards__line"></span>
            <p class="cards__section__cardsBox__cards__text">
                Atrofingizdagi  doimiy  o'zgaruvchan  sharoitlarga qaramay, siz doimo o'ziga xos xulq-atvorga rioya
                qilasiz;
            </p>
            <span class="cards__section__cardsBox__cards__lines"></span>
        </div>
        <div class="cards__section__cardsBox__cards">
            <span class="cards__section__cardsBox__cards__line"></span>
            <p class="cards__section__cardsBox__cards__text">
                O'ziga ishonch. Agar siz prinsipial inson bo’lsangiz siz o’z qarorlaringizga shubha qilmaysiz,balki
                 harakat qilasiz;
            </p>
            <span class="cards__section__cardsBox__cards__lines"></span>
        </div>
    </div>
</section>
<section class="videoBox">
    <div class="mainBox">
        <h1 class="articleTexts">O' ZINGIZDA  PRINTSIPIALLIKNI
            QANDAY  RIVOJLANTIRISH  MUMKIN?</h1>
        <div class="eachBox">
            <h1 class="articleBox">Yo'q deyishni o'rganing</h1>
            <p class="additionBox">Bu umuman xudbinlik haqida emas, balki odamlarning iltimoslari sizning
                manfaatlaringizga zid kelganda
                ularni rad etish qobiliyati haqida;</p>
        </div>
        <div class="eachBox">
            <h1 class="articleBox">O'z pozitsiyangizni faol ifoda eting.</h1>
            <p class="additionBox">Siz har doim ham jamiyatning ko'rsatmalariga amal qila olmaysiz. Prinsipial inson har
                doim o'z e'tiqodiga sodiqdir;;</p>
        </div>
        <div class="eachBox">
            <h1 class="articleBox">Maqsadlaringiz asosidao'z printsiplaringizni shakllantiring</h1>
            <p class="additionBox">Printsiplar o'z-o'zini tasdiqlash yoki o'z-o'zini hurmat qilish usuli sifatida emas,
                balki sizning maqsadlaringizga erishishga ko’makchi sifatida xizmat qilsin;</p>
        </div>
        <div class="eachBox">
            <h1 class="articleBox">O'z printsiplaringizni doimiy ravishda o'zgartiring.</h1>
            <p class="additionBox">Prinsiplar muayyan hayotiy qadriyatlarga erishishga hissa qo'shsagina muhim bo'lib
                qoladi, aks holda ular yuk bo'ladi. Shuning uchun ularni muayyan vaziyatga moslashtirish juda
                muhimdir;</p>
            <button class="button">Testni boshlash</button>
        </div>

    </div>
    <div class="videoBoxLittle">
        <video width="450px" height="600px" class="video" autoplay>
            <source src="../../../static/videos/bussines.mp4">
        </video>
    </div>
</section>
</body>
</html>