<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Yoshlarga Yo'ldosh</title>
    <link rel="icon" href="../../../static/images/Sergak%20bo'l%201.png">
    <link rel="stylesheet" href="../../../static/components/goal/goal.css">
</head>
<body>
<section class="goal-header">
    <div class="goal-wrapper">
        <div class="goal-video">
            <iframe id="video" style="height: 80vh ; width: 740.5px ; border-radius: 15px"
                    src="https://www.youtube.com/embed/MsTFRTeUAMs?si=XNu-S799M8Ap-1js"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="goal-aside">
            <div class="aside-title">
                Maqsadga <br> intiluvchanlik
            </div>
            <div class="aside-descr">
                MAQSADGA INTILUVCHANLIK- BU SIZNING TASHQI VA ICHKI TO’ SIQLARGA QARAMAY O’ Z OLDINGIZGA QO’ YGAN
                MAQSADLARINGIZGA ERISHISH UCHUN BOR IMKONIYATLARINGIZDAN FOYDALANA OLISH QOBILIYATINGIZDIR.
            </div>
            <div class="aside-footer-descr">
                MAQSADGA INTILUVCHANLIK XUSUSIYATIGIZNI OSHIRISH HAMDA TO’ G’ RI MAQSAD QO’ YA OLISHINGIZUCHUN
                TAVSIYALAR:
            </div>
            <ul>
                <li><img src="../../../static/images/Ellipse%20580.svg" alt="">Hayotdagi maqsadlaringizni aniqlang.</li>
                <li><img src="../../../static/images/Ellipse%20580.svg" alt=""> Hayotiy maqsadlaringizni kichikroq vazifalarga ajrating</li>
                <li><img src="../../../static/images/Ellipse%20580.svg" alt=""> Qisqa muddatli maqsadlarni qo'ying</li>
                <li><img src="../../../static/images/Ellipse%20580.svg" alt=""> Vazifalaringizni maqsadingizga erishish uchun qadamlarga aylantiring</li>
                <li><img src="../../../static/images/Ellipse%20580.svg" alt=""> Vazifalaringizni vaqti-vaqti bilan qayta ko'rib chiqing</li>
            </ul>
        </div>
    </div>
</section>
<section class="determine">

    <div class="determine-wrapper">
        <div class="determine-title">
            <span>Hayotdagi</span> maqsadlaringizni <br> aniqlang.
        </div>
        <div class="determine-descr">
            Hayotingizda nimanixohlayotganingiz haqida o'zingizga bir nechta muhim savollarni bering. Haqiqatan ham
            nimaga erishmoqchisiz: bugunmi, bir yildami yoki umringiz davomidami?
        </div>
        <div class="determine-bold">
            <h2>Hayotiy maqsadlaringizni kichikroq vazifalarga <br> ajrating</h2>
            <h2>Qisqa muddatli <br> maqsadlarni qo'ying</h2>
        </div>
        <div class="determine-thin">
            <p>Hayotingizni vaqt o'tishi bilan o'zgartirishni yoki yaxshilashni xohlagan muayyan sohalarga ajrating.


                Bularga quyidagilar kiradi: martaba, moliya,<br> oila, ta'lim yoki sog'liq. Birinchidan, o'zingizdan 5
                yil
                ichida <br> hayotingizning har bir sohasida aniq nimaga <br> erishmoqchi ekanligingizni so'rang</p>
            <p>Endi siz bir necha yil ichida nimaga erishmoqchi ekanligingizni allaqachon bilganingizdan so'ng,
                diqqatingizni aniq vazifalarni bajarishga qaratishingiz mumkin.</p>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer-images">
            <img src="../../../static/images/unsplash_YVT21p6pO_g.png" alt="">
            <img src="../../../static/images/unsplash_iPum7Ket2jo.png" alt="">
            <img src="../../../static/images/unsplash_cckf4TsHAuw.png" alt="">

            <img src="../../../static/images/unsplash_ZT5v0puBjZI.png" alt="">
        </div>
        <div class="footer-info">
            <div class="footer-bold">
                Vazifalaringizni maqsadingizga erishish uchun qadamlarga aylantiring
            </div>
            <div class="footer-thin">
                Umuman olganda, nima uchun bu vazifani o'z zimmangizga olishingizni va bu nimaga hissaqo'shishini hal
                qilishingiz kerak. O'zingizdan so'rashingiz kerak bo'lgan ba'zi yaxshi savollar: bunga arziydimi? Hozir
                boshlashga arziydimi? Men buni haqiqatan ham xohlaymanmi?
            </div>
            <div class="footer-bold">
                Vazifalaringizni vaqti-vaqti bilan qayta ko'rib chiqing
            </div>
            <div class="footer-thin">
                Sizning hayot maqsadlaringiz o'zgarmasligi mumkin, ammo ba'zida qisqa muddatli maqsadlaringizni ko'rib
                chiqish haqida o'ylang. Belgilangan vaqt oralig'ida ularga erisha olasizmi? Hayotiy maqsadingizga
                erishish uchun ular haliham zarurmi? Qisqa muddatli maqsadlarni belgilashda moslashuvchan bo'ling
            </div>
            <div class="footer-btn">
                Testni boshlamoq
            </div>
        </div>
    </div>

</footer>
</body>
</html>