<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yoshlarga Yo'ldosh</title>
    <link rel="icon" href="../../../static/images/Sergak%20bo'l%201.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../../../static/components/home/home.css">

</head>
<body>

<header class="header">
    <i class="fas fa-bars home-hamburger"></i>
    <div class="header__main">
        <div class="header__main_img">
            <img src="../../../static/images/Sergak%20bo'l%201.png" alt="">
        </div>
        <ul class="header__main_nav">
            <i class="fa fa-times time"></i>
            <li>Asosiy</li>
            <li>Nega biz</li>
            <li>Ilova haqida</li>
            <li>Statistikalar</li>
            <li>
                <a href="../login/login.html"> <button>Testni boshlash</button></a>
            </li>
        </ul>
    </div>
</header>
<section class="basic">
    <div class="basic__wrapper">
        <h2>Yoshlarga Yo'ldosh</h2>
        <button>
            Testni boshlash
        </button>
    </div>
</section>
<section class="about">
    <div class="about__header">
        <h2>Nega ushbu ilova ? </h2>
    </div>
    <div class="about-descr">
        “Yoshlarga yo‘ldosh” - elektron platformasida yuklangan psixolоgik test, ijtimoiy rolik , infografik ma`lumotlar
        yoshlarni jamiyatga moslashish va o’z o‘rnini topishga xizmat qiluvchi bilimlarni shakllantiruvchi multimediali
        kompleksni o’z ichiga qamrab olgan. Bunda siz koʼplab huquqiy, ijtimoiy va psixologik savollarga javob
        topishingiz mumkin.
    </div>

    <div class="about-card-main">
        <div class="about-card">
            <div class="about-card-headerfirst">
                <img src="../../../static/images/Layers.svg" alt="">
                <span>
                    Yoqimli interfeys
                </span>
                <div class="about-card-middlefirst"></div>
            </div>
            <div class="about-card-descrfirst">
                Foydalanuvchi va ilovalar o'rtasida dizayn qoidalariga to'liq amal qilingan holatda dizayn yaratilgan.
            </div>
        </div>
        <div class="about-card">
            <div class="about-card-header">
                <img src="../../../static/images/Layout.png" alt="">
                <span>
                    Yoqimli interfeys
                </span>
                <div class="about-card-middle"></div>
            </div>
            <div class="about-card-descr">
                Foydalanuvchi va ilovalar o'rtasida dizayn qoidalariga to'liq amal qilingan holatda dizayn yaratilgan.
            </div>
        </div>
        <div class="about-card">
            <div class="about-card-header">
                <img src="../../../static/images/Lightning.svg" alt="">
                <span>
                    Yoqimli interfeys
                </span>
                <div class="about-card-middle"></div>
            </div>
            <div class="about-card-descr">
                Foydalanuvchi va ilovalar o'rtasida dizayn qoidalariga to'liq amal qilingan holatda dizayn yaratilgan.
            </div>
        </div>
        <div class="about-card">
            <div class="about-card-header">
                <img src="../../../static/images/CheckCircle.svg" alt="">
                <span>
                    Yoqimli interfeys
                </span>
                <div class="about-card-middle"></div>
            </div>
            <div class="about-card-descr">
                Foydalanuvchi va ilovalar o'rtasida dizayn qoidalariga to'liq amal qilingan holatda dizayn yaratilgan.
            </div>
        </div>
    </div>

</section>
<section class="download">
    <div class="header-title">
        <h2>Ilovalarimizning to'liq versiyasidan foydalanib ko'ring!</h2>
    </div>
    <div class="header-descr">
        Yoshlarga yo’ldosh mobile ilovalarimizni yuklab olib olib ularni sinab ko'rishingiz mumkin.
    </div>
    <div class="download-btn">
        Yuklab olish
    </div>
</section>
<section class="statistic">
    <div class="statistic-header">
        <h2>
            Ilovamizning yuklanish statistikasi
        </h2>
        <div class="box">
            <div class="box-title">
                yo’shlarga yo’ldosh
            </div>
            <div class="box-info">
                <img src="../../../static/images/UsersThree.png" alt="">
                <span>2 043 ta foydalanuvchilar soni</span>
            </div>
        </div>
    </div>
    <div class="statistic-aside">
        <img class="aside-first" src="../../../static/images/Vector-1.svg" alt="">
        <img class="aside-second" src="../../../static/images/Vector-2.svg" alt="">
    </div>
</section>
<section class="about">

    <div class="about-card-footer-main">
        <div class="about-card">
            <div class="footer-card-header , footer-card-headerfirst">
                <img class="footer-card-img" src="../../../static/images/Rectangle%201%20(1).png" alt="">
                <span>
Motivatsiya - faol hayot garovi
                </span>
                <div class="about-card-middlefirst"></div>
            </div>
        </div>
        <div class="about-card">
            <div class="footer-card-headerfirst">
                <img src="../../../static/images/Rectangle%201%20(1000.png" alt="">
                <span>
Hayot mazmuni
                </span>
                <div class="about-card-middle"></div>
            </div>
        </div>
        <div class="about-card">
            <div class="footer-card-headerfirst">
                <img src="../../../static/images/Rectangle%201%20(1).png" alt="">
                <span>
Emotsional barqarorlik
                </span>
                <div class="about-card-middle"></div>
            </div>
        </div>
        <div class="about-card">
            <div class="footer-card-headerfirst">
                <img src="../../../static/images/Rectangle%201%20(2).png" alt="">
                <span>
Irodaviy kuch
                </span>
                <div class="about-card-middle"></div>
            </div>
        </div>
        <div class="about-card">
            <div class="footer-card-headerfirst">
                <img src="../../../static/images/Rectangle%201%20(6).png" alt="">
                <span>
biznes va tadbirkorlik
                </span>
                <div class="about-card-middle"></div>
            </div>
        </div>
        <div class="about-card">
            <div class="footer-card-headerfirst">
                <img src="../../../static/images/Rectangle%201%20(5).png" alt="">
                <span>
diniy ong
                </span>
                <div class="about-card-middle"></div>
            </div>
        </div>
        <div class="about-card">
            <div class="footer-card-headerfirst">
                <img src="../../../static/images/Rectangle%201%20(4).png" alt="">
                <span>
huquqiy ko’mak
                </span>
                <div class="about-card-middle"></div>
            </div>
        </div>
        <div class="about-card">
            <div class="footer-card-headerfirst">
                <img src="../../../static/images/Rectangle%201%20(3).png" alt="">
                <span>
mutaxassizga ko’mak
                </span>
                <div class="about-card-middle"></div>
            </div>
        </div>
    </div>

</section>
<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer-about">
            <div class="footer-about-img">
                <img src="../../../static/images/Sergak%20bo'l%20(2)%201.png" alt="">
            </div>
            <div class="footer-about-descr">
                websaytimiz sizni ekstremal vaziyatlarda yuzaga keluvchi yuridik va psixologik-pedagogik yordam haqidagi
                ma’lumotlar bilan qurollantiradi.
            </div>
            <div class="footer-about-social">
                <img src="../../../static/images/Logo%20Instagram.svg" alt="">
                <img src="../../../static/images/Facebook.svg" alt="">
                <img src="../../../static/images/Twitter.svg" alt="">
                <img src="../../../static/images/LinkedIn.svg" alt="">
            </div>
        </div>
        <div class="footer-nav">
            <div class="footer-nav-title">
                Tezkor
            </div>
            <ul>
                <li>Asosiy</li>
                <li>Nega biz</li>
                <li>Ilova haqida</li>
                <li>Statistikalar</li>
                <li>Yuklash</li>
            </ul>
        </div>
        <div class="footer-support">
            <div class="footer-support-title">
                Qo'llab-quvvatlash
            </div>
            <ul>
                <li>FAQ</li>
                <li>Maxfiylik siyosati</li>
                <li>Foydalanish shartlari</li>
            </ul>
        </div>
        <div class="footer-social">
            <div class="footer-support-title">
                Tezkor Aloqa
            </div>
            <ul>
                <li><img src="../../../static/images/Phone.png" alt="">+998 90 006 82 44</li>
                <li><img src="../../../static/images/cib_gmail.png" alt="">https://t.me/NBegim05</li>
                <li><img src="../../../static/images/dashicons_admin-site-alt3.png" alt=""><a target="_blank" href="www.sergak-bol.uz">www.sergak-bol.uz</a></li>
                <li><img src="../../../static/images/location_on.png" alt="">O'zbekiston respublikasi, Toshkent shaxri</li>
            </ul>
        </div>
    </div>
</footer>

<script>
    const close = document.querySelector(".time"),
        hamburger = document.querySelector(".home-hamburger"),
        activeMenu = document.querySelector(".header__main_nav");
    hamburger.addEventListener("click" , () => {
        activeMenu.classList.add("active-menu")
    })
    close.addEventListener("click" , () => {

        activeMenu.classList.remove("active-menu")
    })
</script>
</body>
</html>