<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yoshlarga Yo'ldosh</title>
    <link rel="icon" href="../../../static/images/Sergak%20bo'l%201.png">
    <link rel="stylesheet" href="../../../static/components/controlSelf/controlSelf.css">
</head>
<body>
<section class="first__section">
    <div class="first__section__videoBox">
        <video class="first__section__videoBox__video" autoplay>
            <source src="../../../static/videos/angry.mp4"/>
        </video>
    </div>

    <div class="first__section__article">
        <div class="first__section__article__main">
            <h1 class="first__section__article__main__text">
                O’z-o’zini <br> boshqarish
            </h1>
        </div>
        <div class="first__section__article__mains">
            <h3 class="first__section__article__mains__texts">
                Sizning o'z-o'zingizni nazorat qilishingiz - bu tashqi omillarga qaramay, o'z fikrlaringiz,
                his-tuyg'ularingiz va xatti-harakatlaringizni maqsadlar va qadriyatlarga muvofiq tarzda tartibga
                solishingiz, boshqarish qobiliyatingizd
            </h3>
        </div>
        <div class="first__section__article__image">
            <img class="first__section__article__image__img" src="../../../static/images/shallaqi.png" alt="">
        </div>
    </div>
</section>
<section class="cards__section">
    <div class="cards__section__articleBox">
        <h1 class="cards__section__articleBox__article">
            O'z-o'zini nazorat qilishning qanday foydali tomoni bor?
        </h1>
        <h3 class="cards__section__articleBox__comment">
            Sizni o'z-o'zingizni nazorat qilishingiz shaxsiy hayotda ham, kasbiy faoliyatda ham ko'p foyda <br>
            keltiradi.
            Uningba'zi afzalliklari quyidagilar:
        </h3>
    </div>
    <div class="cards__section__cardsBox">
        <div class="cards__section__cardsBox__cards">
            <span class="cards__section__cardsBox__cards__line"></span>
            <p class="cards__section__cardsBox__cards__text">
                Sizga maqsadga erishishingizda to’sqinlik qiluvchiomillarga qarshi tura olish imkoniniberadi.
            </p>
            <span class="cards__section__cardsBox__cards__lines"></span>
        </div>
        <div class="cards__section__cardsBox__cards">
            <span class="cards__section__cardsBox__cards__line"></span>
            <p class="cards__section__cardsBox__cards__text">
                Agar siz o’z o’zingizni boshqaraolsangiz stressni osonroqyengasiz va o'zgaruvchan vaziyatlarga tez
                moslashasiz.
            </p>
            <span class="cards__section__cardsBox__cards__lines"></span>
        </div>
        <div class="cards__section__cardsBox__cards">
            <span class="cards__section__cardsBox__cards__line"></span>
            <p class="cards__section__cardsBox__cards__text">
                O'z-o'zingizni nazoratqilish orqali siz yuqori samaradorlikni saqlashga erishishingiz mumkin.
            </p>
            <span class="cards__section__cardsBox__cards__lines"></span>
        </div>
        <div class="cards__section__cardsBox__cards">
            <span class="cards__section__cardsBox__cards__line"></span>
            <p class="cards__section__cardsBox__cards__text">
                O’z hissiyotlaringiz va javob reaktsiyalaringizni nazorat qilishingiz shaxslararo munosabatlarni
                mustahkamlashga va nizolarehtimolini kamaytirishga yordamberadi
            </p>
            <span class="cards__section__cardsBox__cards__lines"></span>
        </div>
    </div>
</section>
<section class="rolesSection">
    <div class="rolesSection__articleBox">
        <h1 class="rolesSection__articleBox__article">Ichki o'zini o'zi boshqarish hayotning deyarli barcha
            sohalariga
            ta'sir qiladi, shuning uchun o'zingizda bu xususiyatni rivojlantirish juda muhimdir. Bunda sizga
            yordam
            beradigan bir nechta qoidalar:</h1>
        <img src="../../../static/images/rectrangleBlue.svg" class="rolesSection__articleBox__rectangle" alt="">
    </div>
    <div class="rolesSection__rolesBox">
        <div class="rolesSection__rolesBox__leftBox">
            <span class="rolesSection__rolesBox__leftBox__span">
               <li>
                <b>Kundalik tartibga amal qiling  </b></li>
            <p>bu sizga ko'proqishni <br> bajarishga, intizomlibo'lishga yordam beradi.</p>

            </span>

            <span class="rolesSection__rolesBox__leftBox__span">
                <li>
                <b>Odatlaringiz ustida ishlang.</b>
            </li>
               <p>Yomon odatlarnio’zgartirish sizning muvaffaqiyatga <br> erishishingizga yordam beradi. Ya’ni to'g'ri ovqatlanish,<br> erta uxlash, jismoniymashqlar shug’ullanish va sog’lom <br> turmush tarziga amal qilish</p>
           </span>


        </div>
        <div class="rolesSection__rolesBox__rightBox">
            <img class="rectangle" src="../../../static/images/rectangleGold.svg" alt="">
            <span class="rolesSection__rolesBox__rightBox__span">
               <li>
                <b>Komfort zonangizdan tez-tezchiqib turing. </b></li>
            <p>Qiziqarli joylarga tashrif buyuring,yangi narsalarni sinab <br> ko'ring, qo'rquvlaringizni yenging</p>

            </span>

            <span class="rolesSection__rolesBox__rightBox__span">
                <li>
                <b>Ko'proq o'qing. </b>
            </li>
               <p>O'zingizni kuniga bir necha sahifa o'qishga o'rgating va <br> bir   oy ichida  siz birinchi ijobiy natijalarni ko'rasiz</p>
           </span>
            <button class="button">Testni boshlash</button>
        </div>
    </div>

</section>
</body>
</html>
