<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta
            name="description"
            content="Web site created using create-react-app"
    />
    <title>Yoshlarga Yo'ldosh</title>
    <link rel="icon" href="../../../static/images/Sergak%20bo'l%201.png">
    <link rel="stylesheet" href="../../../static/components/login/login.css">
</head>
<body>
<div class="login">
    <div class="login-wrapper">
        <div class="login-img">
            <img src="../../../static/images/Illustration.png" alt="">
        </div>
        <form class="login-form">

            <label>
                <img src="../../../static/images/Vector.png" alt="">
                <input type="email" required>
            </label>
            <label>
                <img src="../../../static/images/Group.png" alt="">
                <input id="password" type="password" required>
                <img id="eye" src="../../../static/images/bi_eye-fill.png" alt="">
            </label>
            <label class="checkbox">
                <input type="checkbox">
                remember me
            </label>
            <button>
                Login
            </button>
        </form>
    </div>
</div>

<script src="login.js"></script>
</body>
</html>