<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yoshlarga Yo'ldosh</title>
    <link rel="icon" href="../../../static/images/Sergak%20bo'l%201.png">
    <link rel="stylesheet" href="../../../static/components/about/about.css">
</head>
<body>
<div class="about">
    <div class="about-wrapper">
        <div class="about-card">
            <div class="card-img">
                <img src="../../../static/images/Rectangle%201%20(1000.png" alt="">
            </div>
            <div class="card-title">
                Hayot mazmuni
            </div>
            <ol>
                <li>Metodika</li>
                <li>Psixolog maslahati</li>
                <li>Videoteka</li>
                <li>Trening dasturi</li>
            </ol>
        </div>
        <div class="about-card">
            <div class="card-img">
                <img src="../../../static/images/Rectangle%201.png" alt="">
            </div>
            <div class="card-title">
                MOTIVATSIYA – <br> MUVAFFAQIYAT GAROVIDIR
            </div>
            <ol>
                <li>METODIKA</li>
                <li>PSIXOLOG MASLAHATI</li>
                <li>Videoteka</li>

            </ol>
        </div>
        <div class="about-card">
            <div class="card-img">
                <img src="../../../static/images/Rectangle%201%20(2).png" alt="">
            </div>
            <div class="card-title">
                IRODAVIY KUCH
            </div>
            <ol>
                <li>Metodika</li>
                <li>Psixolog maslahati</li>
                <li>Videoteka</li>
                <li>Trening dasturi</li>
            </ol>
        </div>
        <div class="about-card">
            <div class="card-img">
                <img src="../../../static/images/Rectangle%201%20(3).png" alt="">
            </div>
            <div class="card-title">
                YURIDIK MASLAHAT <br>
                <span>
                    HUQUQSHUNOS MASLAHATI
                </span>
            </div>

        </div>
        <div class="about-card">
            <div class="card-img">
                <img src="../../../static/images/Rectangle%201%20(1).png" alt="">
            </div>
            <div class="card-title">
                EMOTSIONAL BARQARORLIK
            </div>
            <ol>
                <li>Metodika</li>
                <li>Psixolog maslahati</li>
                <li>Videoteka</li>
                <li>Trening dasturi</li>
            </ol>
        </div>
        <div class="about-card">
            <div class="card-img">
                <img src="../../../static/images/Rectangle%201%20(5).png" alt="">
            </div>
            <div class="card-title">
                DINIY ONG
            </div>
            <ol>
                <li>Metodika</li>
                <li>Psixolog maslahati</li>
                <li>Videoteka</li>
            </ol>
        </div>
        <div class="about-card">
            <div class="card-img">
                <img src="../../../static/images/Rectangle%201%20(3).png" alt="">
            </div>
            <div class="card-title">
                MUTAXASSISGA KO’MAK
            </div>
            <ol>
                <li>Metodika</li>
                <li>USLUBIY QO’LLANMA</li>

            </ol>
        </div>
        <div class="about-card">
            <div class="card-img">
                <img src="../../../static/images/Rectangle%201%20(6).png" alt="">
            </div>
            <div class="card-title">
                BIZNES VA TADBIRKORLIK
            </div>
            <div class="card-info">
                <div class="card-list-basic">
                    <div class="card-list-title">
                        KASBIY TAYYORGARLIK
                    </div>
                    <ol>
                        <li>Metodika</li>
                        <li>INFOGRAFIK</li>
                        <li>Trening dasturi</li>
                    </ol>
                </div>
                <div class="card-list-basic">
                    <div class="card-list-title">
                        TADBIRKORLIK SIRLARI
                    </div>
                    <ol>
                        <li>IQTISODCHI MASLAHATI</li>
                        <li>Metodika</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>