<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yoshlarga Yo'ldosh</title>
    <link rel="icon" href="../../../static/images/Sergak%20bo'l%201.png">
    <link rel="stylesheet" href="../../../static/components/Initiative/Initiative.css">
</head>
<body>



<div class="Initiative">

    <div class="Initiative__container">
        <h1 class="title">
            <span class="title__inner">Tashabbuskorlik</span> – sizning faoliyatingiz <br>
            jarayonida biror ishni boshlashingiz, daʼvat <br>
            etishingiz, ijodiy yondashuvingizda <br>
            namoyonboʻladigan xususiyat
        </h1>
        <h2 class="info">
            Sizdagi tashabbuskorlik belgilangan maqsad yoki ish, <br>
            harakatni amalga oshirishingizda oʻziga xos uslubdan <br>
            foydalanishingizni ifodalaydi.
        </h2>
    </div>

    <div class="Initiative__container">
        <iframe id="video"
                src="https://www.youtube.com/embed/MsTFRTeUAMs?si=XNu-S799M8Ap-1js"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

</div>

<div class="InitiativeSecond">
    <div class="InitiativeSecond__container">
        <div>
            <img src="../../../static/images/unsplash_YVT21p6pO_g.png" alt="">
            <img src="../../../static/images/unsplash_iPum7Ket2jo.png" alt="">
        </div>
        <div>
            <img src="../../../static/images/unsplash_cckf4TsHAuw.png" alt="">
            <img src="../../../static/images/unsplash_ZT5v0puBjZI.png" alt="">
        </div>
    </div>
    <div class="InitiativeSecond__container">
        <h1 class="info">
            Tashabbuskorlik komplekstushuncha <br>
            bo’lib, u quyidagilarni o'z ichigaoladi:
        </h1>
        <ul class="list">
            <li class="list__inner">
                Sizning olamga faol ijodiy munosabatingiz, bunda siz <br>
                ixtiyoriy ravishdatashabbuskorlik harakatlarini amalga <br>
                oshirasiz;
            </li>
            <li class="list__inner">
                Sizning olamga faol ijodiy munosabatingiz, bunda siz <br>
                ixtiyoriy ravishdatashabbuskorlik harakatlarini amalga <br>
                oshirasiz;
            </li>
        </ul>
    </div>
</div>

<div class="InitiativeThread">
    <div class="InitiativeThread__top"></div>
    <h1 class="InitiativeThread__info">
        Tashabbuskor harakat tashqi muhitning sizning <br>
        ehtiyojlaringiz, manfaatlaringizga ko’ra  ham anglangan, <br>
        ham anglanmagan ravishdata'sir qilishi. <br>
        Bunday tashqi omillar sizda nimadir qilishga, nimanidir <br>
        o‘zgartirishga, biror narsaga erishishga undaydigan <br>
        tashabbuskorlik hissi paydo bo’lishiga sababchibo’ladi
    </h1>
    <div class="InitiativeThread__bottom"></div>
</div>

<div class="InitiativeFourth">
    <h1 class="InitiativeFourth__title">Tashabbuskorlikni rivojlantirish usullari:</h1>
    <h2 class="InitiativeFourth__info">
        Bu fazilatni bolalikdan rivojlantirishni boshlash yaxshidir. Ammo hatto <br>
        kattalarham o'zini qayta tarbiyalashi mumkin:
    </h2>
    <div class="list">
        <div class="list__item">
            <p>
                Vizualisatsiya. O’zingizni qay darajada faol va tashabbuskor ko’rishni xohlashingizni tasavvur
                qiling;
            </p>
        </div>
        <div class="list__item">
            <p>
                Vizualisatsiya. O’zingizni qay darajada faol va tashabbuskor ko’rishni xohlashingizni tasavvur
                qiling;
            </p>
        </div>
        <div class="list__item">
            <p>
                Vizualisatsiya. O’zingizni qay darajada faol va tashabbuskor ko’rishni xohlashingizni tasavvur
                qiling;
            </p>
        </div>
        <div class="list__item">
            <p>
                Vizualisatsiya. O’zingizni qay darajada faol va tashabbuskor ko’rishni xohlashingizni tasavvur
                qiling;
            </p>
        </div>
        <div class="list__item">
            <p>
                Vizualisatsiya. O’zingizni qay darajada faol va tashabbuskor ko’rishni xohlashingizni tasavvur
                qiling;
            </p>
        </div>
        <div class="list__item">
            <p>
                Tashabbusning yana bir muhim ko'rsatkichi - bu sizningharakatlaringiz haqidagi boshqa odamlarning
                fikrlariga e'tibor bermaslik qobiliyati. Esingizda bo'lsin, faqatgina hech narsa qilmaganlar xato
                qilmaydi, xato qilish tashabbuskor odamlar uchun foydalidir. Chunki buning natijasida inson tajriba
            </p>
        </div>
        <div class="list__item">
            <p>
                Vizualisatsiya. O’zingizni qay darajada faol va tashabbuskor ko’rishni xohlashingizni tasavvur
                qiling;
            </p>
        </div>
    </div>
    <button class="InitiativeFourth__btn">Testni boshlash</button>
</div>


</body>
</html>