<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yoshlarga Yo'ldosh</title>
    <link rel="icon" href="../../../static/images/Sergak%20bo'l%201.png">
    <link rel="stylesheet" href="../../../static/components/independence/independence.css">
</head>
<body>


<div class="independence">
    <div class="independence__container">
        <h1 class="title">
            <span class="title__inner">Mustaqillik</span> - bu sizning o'z oldingizga <br>
            aniq maqsad qo'yishingiz va unga o'z <br>
            harakatlaringiz bilan erisha olish <br>
            qobiliyatingizda namoyon bo’ladi.
        </h1>
        <h2 class="info">
            Bilasizmi ilk mustaqil harakatlar insonda 5 oylikdan boshlab, <br>
            ya’ni chaqaloq bor kuchi bilan o'tirishga harakat qilganda, o’z <br>
            narsalarini tanib meniki deyishdan boshlanadi.
        </h2>
    </div>
    <div class="independence__container">
        <iframe id="video"
                src="https://www.youtube.com/embed/MsTFRTeUAMs?si=XNu-S799M8Ap-1js"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>

<div class="independenceSecond">
    <h1 class="independenceSecond__info">
        Mustaqil bo'lish uchun siz ota-onangizga qarshi chiqishingiz shart emas. <br>
        Siz qila oladigan eng oddiy va ayni paytda muhim narsa mustaqil <br>
        shaxsning odatlarini rivojlantirishni boshlashingizdir.
    </h1>
    <div class="items">
        <div class="items__small">
            <p class="items__info">
                Mustaqillik darajasi <br>
                bevosita yoshga <br>
                bog'liq, shuning uchun u <br>
                o'zgaruvchan bo’ladi.
            </p>
        </div>
        <div class="items__big">
            <p class="items__info">
                Maktabda bola mustaqil bo‘lgach, uy <br>
                vazifalari o‘z vaqtida, eslatmalarsiz <br>
                bajaradi, to‘garaklar, sportga boradi. <br>
                Agar bola darsga ham, o'yinga ham <br>
                yetarli vaqt bo'lishi uchun o'z vaqtini <br>
                boshqara olsa va shu bilan birga u <br>
                yaxshi o'qisa u mustaqil hisoblanadi
            </p>
        </div>
        <div class="items__small">
            <p class="items__info">
                Mustaqillik darajasi <br>
                bevosita yoshga <br>
                bog'liq, shuning uchun u <br>
                o'zgaruvchan bo’ladi.
            </p>
        </div>
    </div>
</div>

<div class="independenceThread">
    <div class="independenceThread__info">
        <h1 class="independenceThread__title">Mustaqil shaxs bo'lish uchun 5 ta tavsiyalar</h1>
        <button class="independenceThread__btn">Testni boshlash</button>
    </div>
    <div class="list">
        <div class="list__item">
            <h2 class="list__title">
                1.  O'zingiz va hayotingiz uchun mas'uliyatni o'z zimmangizga <br>
                olishni o'rganing
            </h2>
            <p class="list__info">
                O'zini o'zi ta'minlaydigan odam o'zini mustaqil his qilish uchun juda ko'p ish qiladi. <br>
                Bular o'z vaqtida to'lovlarni to'lash, ish yoki maktab majburiyatlarini o'z vaqtida <br>
                bajarish kabi oddiy bo'lishi mumkin.
            </p>
        </div>
        <div class="list__item">
            <h2 class="list__title">
                2. Yangiliklardan har doim xabardor bo‘lib turing
            </h2>
            <p class="list__info">
                Agar siz so'nggi voqealardan xabardor bo'lsangiz, o'zingiz qaror qabul qilishingiz va o'z <br>
                nuqtai nazaringizni himoya qilishingiz mumkin bo'ladi. Yangiliklarni kuzatib <br>
                boring, zamondan xabardor bo'ling, maktabingizda, institutingizda, idorangizda, <br>
                shahringizda va mamlakatingizda nimalar bo'layotganini doimo bilib oling.
            </p>
        </div>
        <div class="list__item">
            <h2 class="list__title">
                3. Qaysi yo‘nalishda harakatlanayotganingizni biling
            </h2>
            <p class="list__info">
                Siz hayotda qayerga, qaysi yo'nalishda ketmoqchi ekanligingizni tushunishingiz <br>
                kerak. Bunga qandaydir motivatsiya bog'langan bo'lishi kerak. Agar hayotingizni <br>
                nimaga sarflashni bilmasangiz, psixolog yoki bandlik sohasidagi mutaxassisdan <br>
                yordam so'rang. Internet sizga tavsiyalar berishda yordam beradigan vebinarlar va <br>
                o'quv kurslariga to'la.
            </p>
        </div>
        <div class="list__item">
            <h2 class="list__title">
                4. Har doim o'zingiz qaror qabul qiling
            </h2>
            <p class="list__info">
                Agar siz boshqa odamlarga siz uchun qaror qabul qilishiga ruxsat bersangiz, unda <br>
                siz javobgarlikdan qochasiz     va ustaqilligingizni yo'qotasiz. Maqsadlaringiz va <br>
                manfaatlaringizdan kelib chiqib, o'zingiz uchun qaror qabul qilish o'zingizni hurmat <br>
                qilishingizga kuchli yordam beradi.
            </p>
        </div>
        <div class="list__item">
            <h2 class="list__title">
                5. Qo'shimcha ko'nikmalarga ega bo'ling
            </h2>
            <p class="list__info">
                O'rganish hech qachon kech emas va hech kimga zarar keltirmaydi, aksincha, yangi <br>
                bilim faqat foyda keltiradi, qo'shimcha ko'nikmalarni rivojlantirishga yordam beradi.
            </p>
        </div>
    </div>
    <button class="independenceThread__btn none">Testni boshlash</button>
</div>


</body>
</html>