<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yoshlarga Yo'ldosh</title>
    <link rel="icon" href="../../../static/images/Sergak%20bo'l%201.png">
    <link rel="stylesheet" href="../../../static/components/level/CSS.css">
</head>
<body>
<section>
    <div class="circle"></div>
    <div class="big_list">

        <div class="list_one">
            <div class="circle_one"></div>
            <h1>CHIDAMLILIK - BU SIZNI <br>TANANGIZNI CHARCHOQQA <br> QARSHI TURISHI VA UZOQ DAVOM <br>ETGAN JISMONIY
                FAOLIYATDAN
                <br>TIKLANISH QOBILAYTIDIR.</h1>
            <div class="circle_five"></div>
        </div>
        <div class="list_two">
            <div class="circle_two"></div>
            <p>PSIXOLOGIK CHIDAMLILIK - <br> BU SIZNING TURLI HAYOTIY VAZIYATLARDA UNUMDORLIK <br> VA HISSIY
                BARQARORLIKNI
                <br>SAQLASH QOBILIYATINGIZDIR. <br> PSIXOLOGIK CHIDAMLILIK <br>SIZGA QUYIDAGI HOLATLAR <br> UCHUN KERAK:
            </p>
        </div>
    </div>
    <div class="list_five">
        <div class="lit_three">
            <div class="list_four">
                <h1 class="h1">1.</h1>
                <p class="p">YANGI EKOLOGIK SHAROITLARGA <br> TEZ MOSLASHISHINGIZ;</p>
            </div>
            <div class="list_four">
                <h1 class="h1">2.</h1>
                <p class="p">TURLI YOSHDAGI V ATURLI IJTIMOIY <br> GURUHLARDAGI ODAMLAR BILAN <br> MULOQAT QILISHINGIZDA
                    YONDASHUVNI
                    <br> TOPISH QOBILYATI; </p>
            </div>
        </div>
        <div class="lit_three">
            <div class="list_four">
                <h1 class="h1">3.</h1>
                <p class="p">EKSTRAMAL VAZIYATLARDAN <br> TEZDA TIKLANISH;</p>
            </div>

            <div class="list_four">
                <h1 class="h1">4.</h1>
                <p class="p">YECHIMLARNI OSONGINA <br> TOPISH QOBILAYATI;
                </p>
                <div class="circle_three"></div>
            </div>

            <div class="circle_four" style="display: none"></div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section_one">
        <h1 class="section_two">CHIDAMLILIKNI OSHIRISH BO’YICHA TAVSIYALAR:</h1>
    </div>
    <div class="section_big">
        <div class="section_three">
            <div class="section_four"></div>
            <div class="section_four"></div>
            <h1>MAQSADINGIZNI ANIQ AYTING.</h1>
            <p>HAR QANDAY HARAKATNI MUVAFFAQIYATLI BAJARISH UCHUN SIZ QACHON VA QANDAY NATIJA OLISHNI KUTAYOTGANINGIZNI
                TUSHUNISHINGIZ KERAK</p>
        </div>
        <div class="section_three">
            <div class="section_five"></div>
            <div class="section_five"></div>
            <h1>MUVAFFAQIYATGA OLIB BORADIGAN YO’LNI TAYYORLANG..</h1>
            <p>ATROFINGIZDA FAQAT MAQSADINGIZGA ERISHISHGA YORDAM BERADIGAN NARSALARVA ODATLAR QOLSIN</p>
        </div>
        <div class="section_three">
            <div class="section_six"></div>
            <div class="section_six"></div>
            <h1>MUVOZANATNI SAQLANG.</h1>
            <p>MANTIQ VA HIS-TUYG'ULAR O'RTASIDAME’YORNI USHLAY OLADIGANOLTIN O’RTALIKNI QIDIRING</p>
        </div>
        <div class="section_three">
            <div class="section_seven"></div>
            <div class="section_seven"></div>
            <h1>XATOLARINGIZ OQLASH UCHUN BAHONA TOPMANG</h1>
            <p>XATOLARINGIZ UCHUN JAVOBGARLIKNI O'Z ZIMMANGIZGA OLISHGA HARAKAT QILING VA ULARNING YANA SODIR
                BO'LISHINING OLDINIOLISH YO’LLARI HAQIDAO'YLANG</p>
        </div>
    </div>
</section>
<section class="basic">
    <div class="basic_one"><h1 class="basic_two">QANDAY HAYOTIY QOIDALAR <br> PSIXOLOGIK CHIDAMLILIKNI <br> OSHIRISHGA
        YORDAMBERADI?</h1></div>
    <div class="basic_four">
        <div class="basic_three">
            <p><span>KATTA MAQSADLARNI BOSQICHLARGA BO’LISH.</span> <br> AGAR SIZ O’Z OLDINGIZGA KATTA VAZIFA, MAQSAD
                <br>
                QO’YGAN BO’LSANGIZ, VA
                BU SIZDAN KATTA KUCH <br> SARFLASHNI TALAB QILSA, USHBU MAQSADNI AMALGA <br> OSHIRISHDA BOSQICHMA
                BOSQICH
                HARAKAT
                QILGANINGIZ MA’QUL.</p>
            <p><span>VIZUALIZATSIYA.</span> <br>
                SIZ O'ZINGIZNING MUVAFFAQIYATINGIZNI
                ILOJI BORICHA ANIQ TASAVVUR QILISHINGIZ KERAK, BARCHA HIS-TUYG'ULARINGIZNI HIS QILA OLSANGIZ BU SIZGA
                MAQSADGA ERISHISHINGIZ UCHUN KATTA TURTKIBO’LA OLADI.</p>
            <p>
                <span>HISSIYOTLARNI NAZORAT QILING.</span><br>
                KO
                'PINCHA JAHL USTIDA QABUL QILINGAN QARORLAR SIZNI QILGAN ISHINGIZGA PUSHAYMON QILADI. BUNING OLDINIOLISH
                UCHUN NAFASOLISH MASHQLARINI BAJARISHINGIZ TAVSIYA ETILADI.
            </p>
        </div>
        <div class="basic_three">
            <p><span>IJOBIY NARSAGA E'TIBORQARATING.</span> <br>HAR QANDAY HOLATDA
                SIZ O’ZINGIZ UCHUN FOYDALI VA YAXSHI NARSALARNI TOPISHINGIZ MUMKIN. HISSIY JIHATDANCHIDAMLI ODAMLAR
                ISHDAGIMOTIVATSIYA VA FAOLLIKNIOSHIRISH UCHUN BUNGA E'TIBOR BERISHGA HARAKAT QILISHADI.</p>

            <p><span>KICHIK G'ALABALARDAN QUVONING,</span><br>
                SIZ NAFAQAT ERISHGAN KICHIK G’ALABALARINGIZGA E'TIBOR BERISHINGIZ,
                BALKIO'ZINGIZNI RAG'BATLANTIRISHINGIZ KERAK. BIROR NARSANIO'TKAZIB YUBORMASLIK UCHUN MUVAFFAQIYAT
                KUNDALIGINI YURITISH TAVSIYAETILADI..</p>
            <p>
                <span> HAMFIKRLAR JAMOASI.</span><br>
           JAMOADA ISHLASHVA SIZ ISHONADIGAN ODAMLARNING QO'LLAB-QUVVATLASHI
                KATTAMUVAFFAQIYATNING ASOSIDIR.
            </p>
        </div>
        <button class="basic_five">Testni boshlash</button>
    </div>
</section>
</body>
</html>